@import 'mixins';
@import 'variables';

#about-section{
    padding: 2rem 2rem;
    display: flex;
    justify-content: space-evenly ;
    align-items: center;
    flex-wrap: wrap;
    cursor: none; 
    ::selection {
        background: rgb(255, 255, 0);
        background-blend-mode: overlay;
        color:#151718;
      }
    &:hover {
      --show-cursor: block;
    }
    
    &::after {
      --cursor-width: max( 5px, calc( 0 * .4) );
      
      display: var(--show-cursor);
      content:"";
      pointer-events:none;
      
      background:transparent;
      border: 2px solid black;
      border-radius: calc( 20px / 2 );
      translate: -50% -50%;
      
      position:absolute;
      top: var(--mouse-y, 0);
      left: var(--mouse-x, 0);
      
      width: 20px;
      height: 40px;
      
      cursor:none;
      transition: height 0.3s cubic-bezier(0.095, 1.090, 0.605, 1.235),
                  width 0.3s cubic-bezier(0.095, 1.090, 0.605, 1.235);
      
      backdrop-filter: blur(3px);
      -webkit-backdrop-filter: blur(3px);
      
    }}
    #about-paragraph{
        width: 40%;
        width: 600px;
        .between-lines{
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            color: rgba(186, 214, 247, .32);
            .about-me-header{
                @include header-style(15px);
            }
        }
        .between-lines:before{
            @include betweenLines;
        }
        .between-lines:after{
            @include betweenLines;
            transform: rotate(180deg);
        }
        .second-header{
            @include header-style(40px);
            margin: 0;
        }
        p{
            color: $primary-white-color;
            font-size: 17px;
            line-height: 1.5;
            transition: background-color 0.5s ease, padding 0.5s ease;
            
            &.highlighted{
                background-color: #26292b;
                animation: fadeOut 2s forwards; 
    
            }
        }

        #keywords-container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 2rem 0;
            a{
                font-weight: 500;
                padding: 3px 6px;
                background-color:#0b0d1f ;
                border: map-get($borders, 1);
                border-radius: 4px;
                color: $secondary-light-blue-color;
                cursor: pointer;

                &:nth-child(1):hover {
                    background-color: #10243e;
                    color: #369eff;
                    border:1px solid #369eff;
                }
                &:nth-child(2):hover {
                    background-color: #3f4306;
                    color: #F7DF1E;
                    border:1px solid #F7DF1E;
                }
                &:nth-child(3):hover {
                    background-color: #671e22;
                    color: #f2555a;
                    border:1px solid #f2555a;
                }
                &:nth-child(4):hover {
                    background-color: #0f291e;
                    color: #3cb179;
                    border:1px solid #3cb179;
                }
            }

        }
    }

@keyframes fadeOut {
    0% {
      background-color:$behind-text-bg ;
    }
    80% {
    background-color: $behind-text-bg ;
    }
    100% {
      background-color: transparent;
    }
  }

  @media (max-width: 768px) {
    #about-section{
        #about-paragraph{
            width: 1000px;
            p{
                color: $primary-white-color;
                font-size: 16px;
            }
            #keywords-container{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                padding: 1rem 0;
                gap: 0.7rem; 
                text-align: center;
                a{
                    padding: 3px 3px;
                    font-size: 14px;
                }
            }
        }
    }
  }
@media (max-width: 480px) {
    #about-section{
        #about-paragraph{
            width: 1000px;
            p{
                color: $primary-white-color;
                font-size: 14px;
            }
            #keywords-container{
                padding: 1rem 0;
                gap: 1rem; 
                flex: 25%;
                a{
                    font-size: 10px;
                }
            }
        }
    }
  }
